body{
	background-image: url("../images/black-bg.jpg");
	background-attachment: scroll;
	margin: 0 150px;
}

h1{
	font-size: 30px;
	font-family: 'Plaster', cursive;
	color: white;
	padding-left: 40px;
	text-shadow: -2px -2px 5px #e98430
}

h2{
	margin: 0px 20px 0px 280px;
	color: grey;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
	padding-bottom: 20px;
}

article{
	border: 3px;
	background-color:rgba(233, 132, 48,.3);
	border-radius: 10px;
	margin: 0px 29px 0px 280px;
	width: 795px
}


ol{
	border: 3px;
	border-radius: 10px;
	list-style-type: none;
	padding: 5px;
}

li{
	font-family: 'Quantico', sans-serif;
}

a{
	color: rgb(233, 132, 48);
	text-decoration: none;
	background: none;
	font-size: 20px;
	line-height: 80px;
	border-radius: 5px;
	padding: 0px;
}








.pic1{
	display: block;
	border: 10px solid #000;
	width: 705px;
	height: 300px;
	outline: 0;
}

.pic1:hover{
	border-color:rgb(233, 132, 48);
}

.pic1:visited{
	border-color: gray;
}

.pic1:active{
	border-color: white;
}


.pic2{
	display: block;
	border: 10px solid #000;
	width: 300px;
	height: 300px;
	outline: 0;
}

.pic2:hover{
	border-color:rgb(233, 132, 48) ;
}

.pic2:visited{
	border-color: gray;
}

.pic2:active{
	border-color: white;
}
	
	

.pic3{
	display: block;
	border: 10px solid #000;
	width: 300px;
	height: 300px;
	outline: 0;
	float: right;
	margin: -350px 0px 0px 0px;
}

.pic3:hover{
	border-color:rgb(233, 132, 48) ;
}

.pic3:visited{
	border-color: gray;
}

.pic3:active{
	border-color: white;
}












a:hover{
	color: white;
	background: rgb(233, 132, 48);
}

.pics{
	margin: 30px;
}

ul{
	width:0px;
	margin: 0px -100px 0px 0px;
	list-style-type: none;
	float: left;
}


.follow{
	margin-left: 280px;
	float: top;
	color: rgb(233, 132, 48);
}

.fb{
	margin-left: 280px;
	display: block;
	width: 40px;
	height: 50px;
	float: left;
}
	
.tw{
	margin-left: 10px;
	display: block;
	width: 40px;
	height: 50px;
	float: left;
}

.copyright{
	color: gray;
	margin: 60px 0px 0px 450px;
	font-size: 12px;
	line-height: 50px;
	font-family: 'Revalia', cursive;
}