body{
	background-image: url("../images/black-bg.jpg");
	background-attachment: scroll;
	margin: 0 150px;
}



h1{
	font-family: 'Plaster', cursive;
	color: white;
	padding-left: 40px;
	text-shadow: -2px -2px 5px #e98430
}


h2{
	margin: 0px 20px 0px 280px;
	color: grey;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
	padding-bottom: 20px;
}


article{
	border: 3px;
	background-color:rgba(233, 132, 48,.3);
	border-radius: 10px;
	margin: 0px 29px 0px 280px;
	padding: 30px 0px 20px 30px;
	width: 795px
}








p{
	color: gray;
	text-align: justify;
	line-height: 35px;
	font-family: 'Revalia', cursive;	
	padding: 0px;
	font-size: 12px;
}


strong{
	color: rgb(233, 132, 48);
}




.first_paragraph{
	padding: 0px 20px 0px 0px;
	margin: 0px 10px 0px -10px;
}


.second_paragraph{
	font-size: 12px;
	text-indent: 0px;
	padding: 30px 20px 0px 0px;
	margin-left: -10px
}




.release_img{
	margin-right: 30px;
	margin-left: 5px;
	padding-right: 0px;
	float: none;
	border-radius: 30px;
	box-shadow: 4px 4px 10px #111;
}





h1{
	font-family: 'Plaster', cursive;
	font-size: 30px
}


nav{
	margin: 0px;
	padding: 0px;
	float: left;
}






ul{
	width:0px;
	margin: 0 auto;
	list-style-type: none;
	float: none;
	font-family: 'Quantico', sans-serif;
}




a{
	color: rgb(233, 132, 48);
	text-decoration: none;
	background: none;
	font-size: 20px;
	line-height: 80px;
	border-radius: 5px;
	padding: 0px;
}



a:hover{
	color: white;
	background: rgb(233, 132, 48);
	}

.main_nav{
	margin: 0px;
}

.fb_tw{
	margin-left: 280px;
	float: top;
}


aside{
	padding-left: 8px;
}

.copyright{
	text-align: center;
	margin-top: 80px;
}

.fb{
	margin-left: 280px;
	display: block;
	width: 40px;
	height: 50px;
	float: left;
}
	
.tw{
	margin-left: 10px;
	display: block;
	width: 40px;
	height: 50px;
	float: left;
}
