body{
	background-image: url("../images/black-bg.jpg");
	background-attachment: scroll;
	margin: 0 10%;
}

#main{
	width: 80%;
}



h1{
	font-family: 'Plaster', cursive;
	color: white;
	padding-left: 4.5%;
	text-shadow: -2px -2px 5px #e98430
}


h2{
	margin-left: 31%;
	color: grey;
	font-size: 150%;
	font-family: 'Russo One', sans-serif;
	padding-bottom: 2%;
}


article{
	border: 3px;
	background-color:rgba(233, 132, 48,.3);
	border-radius: 10px;
	margin-left: 31%;
	padding: 3% 0% 2% 3%;
	width: 87%;
}








p{
	color: gray;
	text-align: justify;
	line-height: 35px;
	font-family: 'Revalia', cursive;	
	font-size: 80%;
}


strong{
	color: rgb(233, 132, 48);
}




.first_paragraph{
	padding: 0% 2% 0% 0%;
	margin: 0% 1% 0% -1%;
}


.second_paragraph{
	font-size: 80%;
	padding: 3% 2% 0% 0%;
	margin-left: -10px
}




.release_img{
	margin-right: 3%;
	margin-left: 1.5%;
	border-radius: 30px;
	box-shadow: 4px 4px 10px #111;
	width: 92.250923%; 
}

img{
	max-width: 100%
}





h1{
	font-family: 'Plaster', cursive;
	font-size: 180%;
}


nav{
	float: left;
}


ul{
	list-style-type: none;
	font-family: 'Quantico', sans-serif;
}


a{
	color: rgb(233, 132, 48);
	text-decoration: none;
	background: none;
	font-size: 125%;
	line-height: 80px;
	border-radius: 5px;
	}



a:hover{
	color: white;
	background: rgb(233, 132, 48);
	}


.fb_tw{
	text-align: center;
	float: top;
}

.fb{
	margin-left: 280px;
	display: block;
	width: 40px;
	height: 50px;
	float: left;
}
	
.tw{
	margin-left: 10px;
	display: block;
	width: 40px;
	height: 50px;
	float: left;
}


aside{
	padding-left: 8%;
}

.copyright{
	text-align: center;
	margin-top: 8%;
	clear: both;
}


