body{
	background-image: url("../images/black-bg.jpg");
	background-attachment: scroll;
	margin: 0 150px;
}


h1{
	font-size: 30px;
	font-family: 'Plaster', cursive;
	color: white;
	padding-left: 40px;
	text-shadow: -2px -2px 5px #e98430
}


ul{
	width:0px;
	margin: 51px -100px 0px 0px;
	list-style-type: none;
	float: left;
	font-family: 'Quantico', sans-serif;
}


a{
	color: rgb(233, 132, 48);
	text-decoration: none;
	background: none;
	font-size: 20px;
	line-height: 80px;
	border-radius: 5px;
	padding: 0px;
}


a:hover{
	color: white;
	background: rgb(233, 132, 48);
}


h2{
	color: grey;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
	margin: 0px 0px 0px 280px;
	padding-bottom: 20px
}

.urban_dreams{
	border-radius: 10px;
	margin-bottom: 0px;
	box-shadow: 4px 4px 10px #111;
}

article{
	border: 3px;
	background-color:rgba(233, 132, 48,.3);
	border-radius: 10px;
	margin: 0px 29px 0px 280px;
	padding: 30px 0px 20px 30px;
	width: 795px
}



h3{
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
	background-color:rgba(233, 132, 48,.3);
	width: 795px;
	padding-left: 30px;
	margin-left: -30px;
	
}

.songs{
	margin: 10px 0px 5px 15px;
	
}

ol{
	border: 3px;
	border-radius: 0px 0px 10px 10px;
	color: grey;
	font-family: 'Quantico', sans-serif;
	clear: left;
}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 30px 0px 0px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 20px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.blue {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.blue:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.blue:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

.fb_tw{
	margin-left: 280px;
	float: top;
	color: rgb(233, 132, 48);
	font-family: 'Revalia', cursive;
	font-size: 12px;
}
.fb{
	display: block;
	width: 40px;
	height: 50px;
	float: left;
	padding-bottom: 10px;
}

.tw{
	display: block;
	width: 40px;
	height: 50px;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}


p{
	color: rgb(233, 132, 48);
}
aside{
	padding-left: 8px;
}

.copyright{
	color: gray;
	margin-top: 80px;
	margin-left: 200px;
	font-size: 13px;
	line-height: 50px;
	font-family: 'Revalia', cursive;
	text-align: center;
}