body{
	background-image: url("../images/black-bg.jpg");
	background-attachment: scroll;
	margin: 0 150px;
}


h1{
	font-size: 30px;
	font-family: 'Plaster', cursive;
	color: white;
	padding-left: 40px;
	text-shadow: -2px -2px 5px #e98430
}


ul{
	width:0px;
	margin: 51px 0px 0px 0px;
	list-style-type: none;
	float: left;
	font-family: 'Quantico', sans-serif;
}

a{
	color: rgb(233, 132, 48);
	text-decoration: none;
	background: none;
	font-size: 20px;
	line-height: 80px;
	border-radius: 5px;
	padding: 0px;
}


a:hover{
	color: white;
	background: rgb(233, 132, 48);
}


h2{
	color: green;
	margin: 0px 0px 0px 300px;
	padding-bottom: 10px
}

.urban_dreams{
	margin: 0px 10px 0px 300px;
}

h3{
	margin: 0px 10px 0px 300px;
	color: blue;
}

ol{
	margin: 0px 10px 0px 300px;
	color: red;
}